<div class="card" style="background-image: url('assets/img/card-bg/3.jpg')">
  <div class="card__wrapper">
    <div class="flex">
      <div class="card__chip">
        <img src="@img/chip.png" alt="chip card">
      </div>
      <div class="card__merchant">
        <img src="@img/visa.png" alt="visa">
      </div>
    </div>
    <div class="card__number flex">
      <span># # # #</span>
      <span># # # #</span>
      <span># # # #</span>
      <span># # # #</span>
    </div>
    <div class="flex card__info">
      <div class="card__info-holder">
        <span>Держатель карты</span>
        <p>Ваше имя</p>
      </div>
      <div class="card__info-expires">
        <span>Действительна до</span>
        <p>03/22</p>
      </div>
    </div>
  </div>
  <div class="card__wrapper-reverse">
    <div class="card__magnet-line"></div>
    <div class="card__cvv">
      <span>*</span>
      <span>*</span>
      <span>*</span>
    </div>
    <div class="card__merchant">
      <img src="@img/visa.png" alt="visa">
    </div>
  </div>
</div>